# requirements specifically for readthedocs.org because they build
#   docs using sphinx in python2 (which this package doesn't support!)
# we need to have numpy, because the try..except clause fails in python2
#   because the specific Exception we're looking for doesn't exist in py2
../biorad1sc_reader/
numpy
sphinx-argparse
